Q1. How do you comment code in Python? What are the different types of comments?

comment : it is usefull for code readability
comment are of two types single line comment and multiline comment
for example:
#print hello world -- is a single line comment
print("hello world!")
"""using print
function printing the hello world to the 
console"""   #-- this is the multiline comment

Q2. What are variables in Python? How do you declare and assign values to variables?

* variable are used for storing the data in a particular address.
* using that variable we can access the data which is stored in that address.
for example:
   1)variable1 = 99 #variable1 is variable name , = is assignment operator , 99 is the integer value storing in that variable1.
   2)name = "rukz"  #string type data
   3)height=9.8 #floating type data
   4)list1=[2,3,"rukz",8.9]  #list storing

Q3. How do you convert one data type to another in Python?

Converting one data to another data type using -- typecasting 
for example:
a=9 #is a int type
type(a)
a=str(a)  #converting to string 
type(a)

B="9.8"
type(B)
B=int(B)  #string to int...
B

Q4. How do you write and execute a Python script from the command line?

In command line -- type python3 and enter
inside that if we print("hello world") and enter it will execute.
hello world

also we can run using abc.py #abc.py is file which is  in notepad.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [22]:
my_list=[1,2,3,4,5]
#my_list[1:3]  #[2,3] is obtained
my_list[0:]   #[1, 2, 3, 4, 5]
my_list[2:3]  #[3]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

complex number in mathematics : combination of real and imaginary numbers 
and it is represented by (2+9i in mathematics) "i" is in mathematics.

And in python it is represented 8+9j or 8+9J (is a real and imaginary numbers)."j" in python.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [23]:
#the correct way to declare a variable name age and value 25 is :
age=25 
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [25]:
price=9.99  #variable name price , = is assigment operator and value is 9.99
type(price)  #float

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [28]:
name="Ruquiya Anjum"
print(name)  #Ruquiya Anjum
type(name)   #str

Ruquiya Anjum

str

Q10. Given the string "Hello, World!", extract the substring "World".

In [29]:
string="Hello, World!"
string[7:12]   #'World'

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [30]:
is_student=False 
is_student  #False is a boolean type which menas 0 internally 

#or
is_student=True
is_student  #True is a boolean type which menas 1 internally

False