Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
# 1)
string1="rukz"
list1=[1,2,3,4,5]
float1=45.5
tuple1=(1,2,3)
print("string1:",string1)
print("list1:",list1)
print("float1:",float1)
print("tuple1:",tuple1)

string1: rukz
list1: [1, 2, 3, 4, 5]
float1: 45.5
tuple1: (1, 2, 3)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [8]:
# 2)
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [12]:
# 3)
# i) / is division operator  --divide it
2/2     #1.0 
# ii) % modulus operator -- remainder value
2%2    # is 0
# iii) // floor operator , basically quotient
2//2   # is 1
# iv) ** exponential or poweroff means 2**3 is 2*2*2 = 8 or 2*3=8.
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
# 4)
list1=[1,2,3,"rukz",56.7,8+9j,9,"uuuee",88.8,34]
for i in list1:
    print(i,"=",type(i))

1 = <class 'int'>
2 = <class 'int'>
3 = <class 'int'>
rukz = <class 'str'>
56.7 = <class 'float'>
(8+9j) = <class 'complex'>
9 = <class 'int'>
uuuee = <class 'str'>
88.8 = <class 'float'>
34 = <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
#i need answer for this , not able to understand the question

 4
 4

not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
# 6)
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list1:
    if i%3==0:
        print("divisible by 3:",i)
        print(" ")
      
    else:
        print("not divisible by 3:",i)

not divisible by 3: 1
not divisible by 3: 2
divisible by 3: 3

not divisible by 3: 4
not divisible by 3: 5
divisible by 3: 6

not divisible by 3: 7
not divisible by 3: 8
divisible by 3: 9

not divisible by 3: 10
not divisible by 3: 11
divisible by 3: 12

not divisible by 3: 13
not divisible by 3: 14
divisible by 3: 15

not divisible by 3: 16
not divisible by 3: 17
divisible by 3: 18

not divisible by 3: 19
not divisible by 3: 20
divisible by 3: 21

not divisible by 3: 22
not divisible by 3: 23
divisible by 3: 24

not divisible by 3: 25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [10]:
# 7)
# immutable data type -- once the value is assigned we cannot change it.  example string,tuple
# mutable data type -- once the value is assigned we can chnaged or replace the data. examplelist,dictionary.

# example immutable data type
a="rukz"
a[0]="p"
a

TypeError: 'str' object does not support item assignment

In [11]:
#example of mutable data type
a=[1,2,3]
a[0]=100
a

[100, 2, 3]