Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a document based NoSQL database. (database -- collection -- dictionary type (json - javascript object notation). 

Non relational databases like MongoDB which store data in terms of video,audio,image,files (unstructured and semi structured data)  while  in SQL which is  stored in tabular format (rows and columns).

When you have different types of data for storing in a database which does not fit for tabular format instead of that you can choose MongoDB. when you  need to handle lots of data. easier way of storing, no need to define table structure and all.

Q2. State and Explain the features of MongoDB.

Flexible Schema: add or remove data without disturbing the another data.
Document-Oriented: MongoDB stores different types of data like json.
Scalability: MongoDB can handle large amounts of data.
High Performance: fast read and write operation.
Querying and Aggregation:MongoDB provides a powerful query language and aggregation framework to search, filter, and analyze data.
Security.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [36]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.vwmjzqx.mongodb.net/?retryWrites=true&w=majority")

db=client["school"]
coll_db=db["students"]

data = [
    {"name":"ruquiya","address":"bangalore","age":27},
    {"name":"bhuvana","address":"triputahi","age":24},
    {"name":"rinky","address":"jammu","age":34},
    {"courses":["data science", "machine learning","python"]},
    {"faculty":{"data science":"arun kumar","machine learning":"krish naik","python":"rukz"}},
    
]
data1= {"name":"rainu","address":"rajasthan","age":28}
data2={"_id":'5',"college name":"amn university"}

In [40]:
coll_db.insert_many(data)

InsertManyResult([ObjectId('65bf76958e4d4594c8364e86'), ObjectId('65bf76958e4d4594c8364e87'), ObjectId('65bf76958e4d4594c8364e88'), ObjectId('65bf76958e4d4594c8364e89'), ObjectId('65bf76958e4d4594c8364e8a')], acknowledged=True)

In [41]:
for i in coll_db.find():
    print(i)

{'_id': '5', 'college name': 'amn university'}
{'_id': ObjectId('65bf768e8e4d4594c8364e85'), 'name': 'rainu', 'address': 'rajasthan', 'age': 28}
{'_id': ObjectId('65bf76958e4d4594c8364e86'), 'name': 'ruquiya', 'address': 'bangalore', 'age': 27}
{'_id': ObjectId('65bf76958e4d4594c8364e87'), 'name': 'bhuvana', 'address': 'triputahi', 'age': 24}
{'_id': ObjectId('65bf76958e4d4594c8364e88'), 'name': 'rinky', 'address': 'jammu', 'age': 34}
{'_id': ObjectId('65bf76958e4d4594c8364e89'), 'courses': ['data science', 'machine learning', 'python']}
{'_id': ObjectId('65bf76958e4d4594c8364e8a'), 'faculty': {'data science': 'arun kumar', 'machine learning': 'krish naik', 'python': 'rukz'}}

In [42]:
coll_db.find_one()

{'_id': '5', 'college name': 'amn university'}

In [43]:
#find()-- used to find data using  queries .
for i in coll_db.find({"name":"ruquiya"}):
    print(i)
for i  in coll_db.find({'_id':{"$gte":'5'}}):   #gte is greater than equal..reserved keyword.
    print(i)

{'_id': ObjectId('65bf76958e4d4594c8364e86'), 'name': 'ruquiya', 'address': 'bangalore', 'age': 27}
{'_id': '5', 'college name': 'amn university'}

In [46]:
#sorting based on condition for that 1 is ascending order  and -1 is descending order.
for i in coll_db.find({}).sort("age",1):
    print(i)

{'_id': '5', 'college name': 'amn university'}
{'_id': ObjectId('65bf76958e4d4594c8364e89'), 'courses': ['data science', 'machine learning', 'python']}
{'_id': ObjectId('65bf76958e4d4594c8364e8a'), 'faculty': {'data science': 'arun kumar', 'machine learning': 'krish naik', 'python': 'rukz'}}
{'_id': ObjectId('65bf76958e4d4594c8364e87'), 'name': 'bhuvana', 'address': 'triputahi', 'age': 24}
{'_id': ObjectId('65bf76958e4d4594c8364e86'), 'name': 'rukz', 'address': 'bangalore', 'age': 27}
{'_id': ObjectId('65bf768e8e4d4594c8364e85'), 'name': 'rainu', 'address': 'rajasthan', 'age': 28}
{'_id': ObjectId('65bf76958e4d4594c8364e88'), 'name': 'rinky', 'address': 'jammu', 'age': 34}

In [ ]:
#delete_one(): deleting a single documnet based on conditions.
#delete_many(): deleting a multiple document based on criteria.
#drop():deleting whole collections of that databse.

In [28]:
coll_db.delete_one({"name":"ruquiya"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000009'), 'opTime': {'ts': Timestamp(1707046338, 3), 't': 9}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1707046338, 3), 'signature': {'hash': b'\xeb\x85\xb8\x81"\xb8\x08\xe3\xa5(\x1ds/\xbe\x9dx\x06\xc8\xb4&', 'keyId': 7325056355276947461}}, 'operationTime': Timestamp(1707046338, 3)}, acknowledged=True)

In [31]:
coll_db.delete_many({"age":{"$gt":28}})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000009'), 'opTime': {'ts': Timestamp(1707046430, 1), 't': 9}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1707046430, 1), 'signature': {'hash': b'\xbb0\xbd-E\xbc\x8aM\xcf\xf5\x17 \\\xbdC\xf2$\xb1\x13S', 'keyId': 7325056355276947461}}, 'operationTime': Timestamp(1707046430, 1)}, acknowledged=True)

In [ ]:
coll_db.drop()

In [45]:
coll_db.update_one({"name":"ruquiya"},{"$set":{"name":"rukz"}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000009'), 'opTime': {'ts': Timestamp(1707046646, 1), 't': 9}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1707046646, 1), 'signature': {'hash': b'3\xf97\xfb\x05\xf8\x07vqH\xc2\x82G\x87\x8dl\xe5i_\xb2', 'keyId': 7325056355276947461}}, 'operationTime': Timestamp(1707046646, 1), 'updatedExisting': True}, acknowledged=True)